* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(images/image.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main{
    background-color: rgba(0, 0, 0, 0.343);
    height: 600px;
    width: 350px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    backdrop-filter: blur(5px);
    
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile img{
    width: 110px;
    border-radius: 100px;
}


.links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links a{
    text-decoration: none;
    border: 1px solid;
    font-size: 15px;
    padding : 20px 40px;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 600;
}

.links a:hover{
    background-color:rgba(180, 180, 180, 0.178);
    scale: 1.02;
}





.project-container{
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

.box img{
    width: 350px;
}