* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(images/image.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
    background-color: white;
    height: 600px;
    width: 350px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile img{
    width: 110px;
    border-radius: 100px;
}


.links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links a{
    text-decoration: none;
    border: 1px solid;
    font-size: 20px;
    padding : 20px 40px;
    text-align: center;
    border-radius: 10px;
}